header {
  background-image: url(../imgs/captainmarvelheader.jpg);
  background-size: cover;
  height: 1080px;
}
.logo {
  width: 15%;
  padding: 35px;
}

nav ul li .nav {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
}

nav ul li .nav:hover {
  text-decoration: underline red solid 4px;
}

nav ul li {
  display: inline-flex;
  padding: 2%;
  position: relative;
  left: 25%;
  bottom: 120px;
  font-size: 130%;
  font-weight: bold;
}

.img-header {
  width: 30%;
  padding-left: 25%;
  padding-top: 30%;
}

.catalogo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
  padding-left: 30px;
  font-weight: bolder;
  color: black;
  text-decoration: underline red;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  left: 14%;
  margin-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.bonecos {
  width: 90%;
  position: relative;
  right: 20%;
  top: 20px;
}

.bonecos1 {
  width: 90%;
  position: relative;
  right: 35%;
  top: 20px;
}

.text {
  font-size: 23px;
  color: black;
  position: relative;
  bottom: 5%;
  right: 15%;
}

.preço {
  font-weight: bolder;
  font-style: italic;
  position: relative;
  bottom: 5%;
  right: 15%;
}

.btn {
  background-color: red;
  border-color: red;
  border-radius: 15px;
  color: #fff;
  padding: 5px 22px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  bottom: 4%;
  right: 16%;
}

.btn:hover {
  opacity: 1;
}
